.back-login {
    --background: #002B5C;
    --color: #FFFFFF;
    border-radius: 10px;
    width: 80%;
}

.back {
    --background: #1183C5;
}

.back-item {
    --background: #002B5C;
    --color: #FFFFFF;
}