<ion-content>
  <img style="height: 100%;" src="../../../assets/imgs/cornHome.jpg" alt="home">
</ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="apontamentos">
      <ion-icon name="reader-sharp"></ion-icon>
      <ion-label>Apontamentos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ocorrencia">
      <ion-icon name="warning-sharp"></ion-icon>
      <ion-label>Ocorrências</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="atividade">
      <ion-icon name="leaf-sharp"></ion-icon>
      <ion-label>Atividades</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="login" (click)="logout()">
      <ion-icon name="exit-sharp"></ion-icon>
      <ion-label>Sair</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
